version: "3.9"

# TODO: insert ports from env file
services:
  postgres:
    image: postgres:16
    container_name: toomuCh_postgres
    restart: always
    env_file: 
    - .env
    ports:
    - ${POSTGRES_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 2s
      timeout: 3s
      retries: 10
  app:
    container_name: toomuCh_app
    build: .
    ports:
      - 8080:8080
    env_file: 
    - .env
    depends_on:
       postgres:
          condition: service_healthy